$primary   : #740d3a;
$secondary : #26A69A;
$accent    : #9C27B0;
$positive  : #21BA45;
$negative  : #e71a32;
$info      : #31CCEC;
$warning   : #F2C037;
$dark      : #333333;
$black     : #000000;

$dark-gradient: linear-gradient(45deg, $black, $dark);